<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 My Portfolio</p>
    <a href="https://github.com/farhanisrakniloy" class="text-white mx-2" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/farhan-israk-3749152a2/" class="text-white mx-2" target="_blank">LinkedIn</a>
</footer>
</html>