<%- include('partials/_header') %>
<main>
    <div class="container">
        <h1>My Projects</h1>
        <p>Here are some projects I've worked on, demonstrating my skills and interests in networking, security, and development.</p>

        <div class="row mt-4">
            <!-- Project 1 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images\Computer Archit.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Computer Architecture</h5>
                        <p class="card-text">Brief description of the Computer Architecture project, highlighting what you achieved or learned.</p>
                        <a href="/js/comp-arch.html" target="_blank" class="btn btn-primary">View Project</a>
                    </div>
                </div>
            </div>
            
            <!-- Project 2 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images\dream.jpg" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">My Dream Job</h5>
                        <p class="card-text">Brief description of the My Dream Job project, detailing the technologies used or goals achieved.</p>
                        <a href="/js/My-Dream-Job.html" target="_blank" class="btn btn-primary">View Project</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>

<%- include('partials/_footer') %>
